<template name="createScreen">
    <div class="interface-container">
        <div class="blank-row">
            <div class="span12">
                <h1> </h1>
            </div>
        </div>
        <div class="row">
            <div class="interface-header">
                <h4 class="custom-header minimal-margin">Here you can create new screen</h4>
            </div>
        </div>
        <div class="container-fluid center-height">
            <h3 class="background-tips">Tooltip: You can add new intrface elements here, or edit existing.</h3>
        </div>
        <div class="row"> <!-- buttons container -->
            <div class="left-button">
                <a href="{{pathFor 'Help'}}">
                    <button class="blue-button">Help</button>
                </a>
            </div>
            <div class="middle-button">
                <a href="#">
                    <button class="yellow-button">Screen list</button>
                </a>
            </div>
            <div class="right-button">
                <a href="#">
                    <button class="green-button">Save settings</button>
                </a>
            </div>
        </div> <!-- buttons container -->
    </div>
</template>