<template name="header">
    <div class="row">
        <div class="dropdown-wrap boxed-velvet custom-dropdown max-width top-menu">
            <ul class="dropdown clearfix float-right">
                <li class="first"><a href="{{pathFor 'mainScreen'}}"><span>Home</span></a></li>
                <li><a href="#"><span>About Us</span></a>
                    <ul>
                        <li><a href="{{pathFor '_loginButtonsLoggedOutSingleLoginButton'}}">Portfolio</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Contacts</a>
                            <ul>
                                <li><a href="#">Gallery images</a></li>
                                <li><a href="#">OneByOne Slider</a></li>
                                <li><a href="#">Video in header</a></li>
                                <li><a href="#">Image & Video Slider</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><span>Settings</span></a>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Copyright</a></li>
                    </ul>
                </li>
                <li><a href="{{pathFor 'registerPage'}}"><span>Register</span></a></li>
                <li class="last"><a href="{{pathFor 'loginPage'}}"><span>Log In</span></a></li>
            </ul>
        </div>
    </div>
</template>