<template name="loginForm">
	<div class="add-comment add-comment-velvet styled" id="login-div">
		<div class="add-comment-title"><h3 id="login-form-header">Login</h3></div>
		<div class="comment-form">
			<form action="#" method="post" id="login-form" class="ajax_form">
				<div class="form-inner padding-bottom-0">
					<div class="field_text">
						<label for="login-email" class="label_title">Email:</label>
						<input type="text" name="email" id="login-email" value="" class="inputtext input_middle required" autofocus/>
					</div>
					<p class="float-left padding-top-button" id="email-alert"></p>
					<div class="clear"></div>
					<div class="field_text-0">
						<div id="password_button" class="edit_buttons"></div>
						<label for="login-password" class="label_title">Password:</label>
						<input type="password" name="password" id="login-password" value="" class="inputtext input_middle required" />
					</div>
					<p class="float-left padding-top-button" id="password-alert"></p>
					<div class="clear"></div>
					<div id="confirm-div"  style="display: none">
						<div class="field_text-0">
							<div id="confirm_button" class="edit_buttons"></div>
							<label for="confirm-password" class="label_title">Confirm:</label>
							<input type="password" name="password" id="confirm-password" value="" class="inputtext input_middle required" />
						</div>
						<p class="float-left padding-top-button" id="confirm-alert"></p>
						<div class="clear"></div>
					</div>
				</div>
				<div class="rowSubmit">
					<a class="float-left padding-top-button" id="forgot-password">Forgot password?</a>
					<a onclick="document.getElementById('login-form').reset();return false" href="#" id="discard-button" class="link-reset btn btn-black float-left" style="display: none"><span>Discard</span></a>
					<a href="#" id="register-button" class="link-reset btn btn-black"><span id="register-button-span">Register</span></a>
					<span class="btn"><input type="submit" id="login-button" value="Log in" /></span>
				</div>
			</form>
		</div>
	</div>
</template>
