<template name="screenPage">
    <div class="row">
        <div class="col-sm-12">
            <h6 class="foo">{{screen_name}}</h6>
            <div class="widget-container widget_profile boxed-velvet">
            <div class="inner gradient">
                <div class="row">
                <div class="col-sm-1">
                    <div class="avatar">
                        <img src="/images/temp/avatar.png">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>